@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  display: flex;
  justify-content: center;
}

div {
  border: 1px solid #000;
}

.container {
  width: 70%;
}