@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html{
  scroll-behavior:smooth;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: justify;
}

p {
  margin-bottom: 20px;
}

hr {
  margin: 20px 0;
}

pre {
  border-radius: 5px;
  max-height: 400px;
  max-width: 100%;
}

a, 
a:visited, 
a:hover, 
a:active {
  color:blue;
}

.toc > ol > li > a,
.toc > ol > li > ol > li > a,
.toc > ol > li > ol > li > ol > li > a {
  text-decoration: none;
}

table {
  margin: 25px auto;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  table-layout:fixed;
  width:100%;
}

table thead tr,
table tbody tr td:first-child {
  background-color: #0069b5;
  color: #ffffff;
  text-align: left;
}

th {
  font-weight: 300;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.toc ol {
  counter-reset: item;
}

.toc ol li {
  display: block;
}

.toc ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.container {
  width: 70%;
}

.section {
  margin-bottom: 40px;
}

.text_code {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

.text_code div:nth-of-type(2) {
  width: 100%;
  display: inherit;
}

.text_img_aligned {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 40px;
}

.text_twoimg_aligned {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}

.text_twoimg_aligned div:first-child {
  grid-row: 1 / 3;
}

.text_two_images_below {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.text_two_images_below div:first-child {
  grid-column: 1 / 3;
}

.text_three_images_below {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: repeat(3, min-content);
  grid-gap: 40px;
}

.text_three_images_below div:first-child {
  grid-column: 1 / 4;
}

.text_four_images_below {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 40px;
}

.text_four_images_below div:first-child {
  grid-column: 1 / 5;
}

.text_image_below {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0 40px;
}

.algo_analysis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: auto;
}

.algo_analysis div:nth-of-type(1) pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 5px 0px 0px 5px;
}

.algo_analysis div:nth-of-type(1) pre::-webkit-scrollbar {
  display: none;
}

.algo_analysis div:nth-of-type(2) pre {
  border-radius: 0px 5px 5px 0px;
}

.algo_analysis .img_caption {
  grid-column: 1/3;
}

.info {
  color: rgb(82, 82, 82);
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 20px;
}

.img_caption {
  color: rgb(82, 82, 82);
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
}

.top {
  position:fixed;
  bottom: 10px;
  right: 10px;
  width: 3vw;
  height: 3vw;
  min-width: 50px;
  min-height: 50px;
  background-image: url("../../img/top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s ease-in-out;
}

.top:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  [class*="text_"] {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .container {
    width: 90%;
  }

  .top {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  .text_twoimg_aligned {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
  }

  .text_twoimg_aligned div:first-child {
    grid-column: 1 / 3;
  }

  .top {
    width: 70px;
    height: 70px;
  }

  .top:hover {
    transform: translateY(-15px);
  }
}
