@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html{
  scroll-behavior:smooth;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: justify;
}

p {
  margin-bottom: 20px;
}

hr {
  margin: 20px 0;
}

a, 
a:visited, 
a:hover, 
a:active {
  color:blue;
  text-decoration: none;
}

.toc ol {
  counter-reset: item;
}

.toc ol li {
  display: block
}

.toc ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.container {
  width: 70%;
}

.section {
  margin-bottom: 40px;
}

.section_grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: min-content min-content;
  column-gap: 40px;
}

.info {
  color: rgb(82, 82, 82);
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 20px;
}

.img_caption {
  color: rgb(82, 82, 82);
  font-size: 0.8rem;
  font-style: italic;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  display: inline-block;
}

.top {
  float: right;
}

code {
  padding: 0 !important;
}